.new-footer {
    width: 100%;
    height: 300px;
    background: gray;
    bottom: 0;
    position: fixed;
    font-family: Helvetica;
    color: #999;
    z-index: -1;
}

.new-footer .container {
    width: 80%;
    margin: 0 auto;
}

.new-footer .footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.new-footer .footer-section {
    flex: 1;
    margin-right: 20px;
}

.new-footer .footer-section h2 {
    margin-bottom: 10px;
}

.new-footer .footer-section ul {
    list-style: none;
    padding: 0;
}

.new-footer .footer-section ul li {
    margin-bottom: 10px;
}

.new-footer .footer-section ul li a {
    color: #999;
    text-decoration: none;
}

.new-footer .footer-section ul li a:hover {
    text-decoration: underline;
}

.new-footer .footer-section.contact a {
    color: #999; /* Change to your desired color */
    text-decoration: none; /* Remove underline */
}

.new-footer .footer-section.contact a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
}
